* {
  font-family: Avenir Next;
  font-size: 1em;
}

html,
body {
  font-family: Avenir Next;
}

#hero {
  margin: 0 auto;
  width: 100vw;
  max-width: 100vw;
  height: 35vw;
  background-position: center;
}

.content-img {
  height: 30rem;
  background-position: center;
  background-size: cover;
}

@media (max-width: 480px) {
  .content-img {
    height: 10rem;
  }
}

.body-column {
  background-color: #efefef;
}
