* {
  font-family: Avenir Next;
  font-size: 1em;
}

html,
body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}

#appContainer {
  display: flex;
  flex-direction: column;
  height: 52vw;
  width: 100vw;
}

#viewDiv {
  width: 100vw;
  height: 60vw;
}

#table {
  display: block;
  width: 100vw;
  height: 30vw;
  margin: 0 auto;
  padding: 0;
  overflow: scroll;
}

#table thead {
  position: sticky;
  top: 0;
  background-color: #56a5d8;
  color: #f8f8f8;
  font-size: 1.25em;
}

#table td {
  width: 30vw;
}

#stateSelector {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100px;
}

#mapViewBtn {
  position: absolute;
  top: 20px;
  left: 70px;
}

#dataDiv {
  position: absolute;
  bottom: 50px;
  left: 10px;
  background-color: #f8f8f8;
  margin: 0 auto;
  width: 40vw;
  max-height: 25vh;
  overflow: auto;
}

#cityList {
  width: 99vw;
  margin: 0 auto;
  padding: 0;
}

#searchDiv {
  padding: 0 10;
  margin: auto;
  top: 50px;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#responseList {
  padding: 0 10;
  margin: 10 10;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.hidden {
  display: none;
}
